<div class="clear"></div>
<div class="container-fluid  mar-top-10">
  <div class="row">

    
    <div class="col-md-12 ">
        <div class="table-header-color table-responsive top-space">
          <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th valign="top">Select</th>
                <th valign="top">Name</th>
                <th valign="top">Age</th>
                <th valign="top">Gender</th>
                <th valign="top">Mobile</th>
                <th valign="top">Email</th>
                <th valign="top">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of rowObj">
                <td style="text-align:center"><input type="radio" name ="excelRadio"
                  (click)="onRowSelect($event,a.id)" /></td>
                <td style="text-align:center">{{a.name}}</td>
                <td style="text-align:center">{{a.age}}</td>
                <td style="text-align:center">{{a.gender}}</td>
                <td style="text-align:center">{{a.mobile}}</td>
                <td style="text-align:center">{{a.email}}</td>
                <td style="text-align:center"><div class="col-sm-6 text-center">
                  <button class="btn btn-primary" type="submit">Edit</button>
                  <button class="btn btn-primary" type="submit" (click)="deleteRow(a.id)" >Delete</button>
              </div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#popUpModal">Add</button>
        </div>
      </div>

  </div>


  <div>
    <div id="popUpModal" class="modal fade " tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title heading3 blue-c font-weight-bold"> <span><i class="fa fa-hand-o-right black"></i>
              </span>Add fields</div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 ">
                <input type = "text" name = "name" placeholder = "name" ngModel>
                  <br/>
                <input type = "text" name = "age" placeholder = "age" ngModel>
                  <br/>
                  <input type = "text" name = "gender" placeholder = "gender" ngModel>
                    <br/>
                    <input type = "text" name = "mobile" placeholder = "mobile" ngModel>
                      <br/>
                      <input type = "text" name = "email" placeholder = "email" ngModel>
                        <br/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>